h1, h2{
    color: #0f770b;
}
.text1{
color: rgb(175, 175, 8);
}
.text2{
color: red;
}
a{
    color: black;
}
.ul1, .ul2{
    color: #d60a0a;
}
.td1, .td3{
    color: #d60a0a;
}
.td2, .td4{
    color: blue;
}
form{
    color: red;
}
table{
    border: solid 2px;
}

tr, td{
    border: inset 2px;
}