body{
    text-align: center;
    background-image: url(../11/photo/ohdear.jpg)

}
.over{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 50%;
    height: 100%;
    background-color: aliceblue;
    opacity: 0.2;
    z-index: -1;
}
text{
    
}