body{
    background-color: rgba(240, 248, 255, 0.651);
}
.forma{
    width: 800px;
    height: 600px;
    background-color: rgb(255, 255, 255);
    margin-left: 20px;
    text-align: right;
    padding: 10px;

}
.head{
    width: 100%;
    height: 50px;
    background-color: rgb(255, 255, 255);
}
.headl{
    position: relative;
    top: 15px;
    float: left;
}
.head2{
    position: relative;
    top: 70%;
    float: right;
}
input{
    margin-left: 20px;
    margin-right: 450px;
    margin-top: 5px;
    width: 250px;
    height: 20px;
}
label{
    font-size: x-small;
}
/* pasto kodo eilute */

.kodas{
    width: 400px;
    margin-left: -19px;
}
.search{
    margin-right: 0px;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 0px;
    width: 258px;
    height: 25px;
    background-color: rgba(128, 128, 128, 0.341);
    border: none;
    display: inline-block;
}
.isk{
    display: inline-block;
    font-size: x-small;
}
.past{
    display: inline-block;

}
/* ---------------- */


button{
    margin-top: 20px;
    float: left;
    color: white;
    background-color: rgba(5, 20, 20, 0.55);
}
/* --------------- */
.telp{
    width: 400px;
    height: 25px;
    margin-left: -41px;
}
.mob{
    display: inline-block;
    width: 40px;
    height: 25px;
    
}
.tel{
    margin-right: 0px;
    margin-top: 0px;
    display: inline-block;
}
.sine{
    display: inline-block;
}