div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    display: grid;
    grid-template-columns: repeat(100px);
    grid-template-rows: repeat(100px);
    grid-template-areas: 
    "c1 c2";
}

p{
    color: white;

}

.c1,.c2{
    position: relative;
    height: 100px;
    width: 100px;
}
.c1:hover .m1{
     opacity: 1;
}
.c2:hover .m1{
    opacity: 1;
}
.i1{
    width: 100px;
    height: 100px;
}

.m1{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.404);
    opacity: 0;
}


