main{
    background-color: #a8a7a4;
    width: 300px;
    height: 320px;
    text-align: center;
    padding: 20px;
    align-content: center;
}
.div1{
    background-color: #535252;
    margin: 15px;
    border-style: none;
    border-radius: 2px;
    border-width: 5px;
    padding: 5px;
}

.div2{
    background-color: #5e5e5e;
    margin: 15px;
    border-style: dotted;
    border-radius: 2px;
    border-width: 5px;
    padding: 5px;
}
.div3{
    background-color: #535252;
    margin: 15px;
    border-style: dashed;
    border-radius: 2px;
    border-width: 5px;
    padding: 5px;
}
.div4{
    background-color: #535252;
    margin: 15px;
    border-style: solid;
    border-radius: 2px;
    border-width: 5px;
    padding: 5px;
}
.div5{
    background-color: #535252;
    margin: 15px;
    border-style: double;
    border-radius: 2px;
    border-width: 5px;
    padding: 5px;
}
.div6{
    background-color: #535252;
    margin: 15px;
    border-style: groove;
    border-radius: 2px;
    border-width: 5px;
    padding: 5px;
}
.one{
    text-align: center;
    width: 10em;
    height: 5em;
    background-image: url(../02/foto/clouds.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1em;
    border-color: red;
    border-style: solid;

}
.two{
    text-align: center;
    width: 10em;
    height: 5em;
    background-color: #535252;
    border-radius: 1em 0em 1em 0em;
    border-color: red;
    border-style: solid;
}
.three{
    text-align: center;
    width: 10em;
    height: 5em;
    background-color: #535252;
    border-radius: 1em 3em 1em 3em;
    border-color: red;
    border-style: solid;
}
.four{
    text-align: center;
    width: 10em;
    height: 5em;
    background-color: #535252;
    border-radius: 0em 1em 5em 2em;
    border-color: red;
    border-style: solid;
}
.imige{
    width: 150px;
    height: 150px;
    background-image: url(../02/foto/neo.jpg);
    background-size: contain;
    border-style: dotted;
    border-width: 5px;
    border-color: aqua;
}
body{
    width: auto;
    height: auto;
    background-image: url(../02/foto/stock-photo-142984111.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

